<%- include('../partials/header') %>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
            var singleModalElem = document.querySelector('#modal1');
            var instance = M.Modal.getInstance(singleModalElem);
            const modalbtn = document.querySelector('#open')
            modalbtn.addEventListener('click', () => {
                instance.open();
                // Do other stuff
            })
        });
    </script>
    <button class="waves-effect waves-green btn" id="open">New Ticket Form</button>
    <h1>Tickets</h1>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <fieldset>
                <legend>Submit a Ticket</legend>
                <form action="/tickets/create" method="POST">
                    <label for="field-1"><span>Issue Subject</span><input type="text" name="subject" id=""></label>
                    <br>
                    <label for="field-2"><span>Issue Description</span><textarea name="description" id="" cols="30"
                            rows="10"></textarea></label>
            </fieldset>
            <div class="modal-footer">
                <button class="btn waves-effect waves-green btn-flat" type="submit">Add Ticket</button>
            </div>
            </form>
        </div>
    </div>

    <h2>Active</h2>
    <div class="ticket-info-container">
        <% if(!tasks.rows.some((tsk)=> tsk.is_active === true)) { %>
            <h3>No Active Tickets Exist </h3>
            <%}%>
                <% tasks.rows.forEach((task)=> { %>
                    <% if (task.is_active===true) { %>
                        <div class="card">
                            <div class="card-content">
                                <p>Ticket ID: <%= task.id %>
                                </p>
                                <p>Ticket Subject: <%= task.subject %>
                                </p>
                                <p>Ticket Description: <%= task.description %>
                                </p>
                                <p>Assigned Employee: <%= users.rows[task.assigned_to].username %>
                                </p>
                                <p>Submitted By: <%= users.rows[task.created_by].username %>
                                </p>
                                <p>Ticket Status: Open
                                </p>
                                <a class="btn" href="/tickets/ <%= task.id %>">Details</a>
                            </div>
                        </div>
                        <% } %>
                            <% }) %>

    </div>
    <h2>Closed</h2>
    <% if(!tasks.rows.some((tsk)=> tsk.is_active === false)) { %>
        <h3>No Closed Tickets</h3>
        <% } %>
            <% tasks.rows.forEach((task)=> { %>
                <% if(task.is_active===false) { %>
                    <div class="card">
                        <div class="card-content">
                            <p>Ticket ID: <%= task.id %>
                            </p>
                            <p>Ticket Subject: <%= task.subject %>
                            </p>
                            <p>Ticket Description: <%= task.description %>
                            </p>
                            <p>Assigned Employee: <%= users.rows[task.assigned_to].username %>
                            </p>
                            <p>Submitted By: <%= users.rows[task.created_by].username %>
                            </p>
                            <p>Ticket Status: Closed
                            </p>
                            <a class="btn" href="/tickets/ <%= task.id %>">Details</a>
                        </div>
                    </div>
                    <% } %>
                        <% }) %>

                            <%- include('../partials/footer') %>