<%- include('../partials/header') %>
    <h1>Ticket Details</h1>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
            var singleModalElem = document.querySelector('#modal1');
            var instance = M.Modal.getInstance(singleModalElem);
            const modalbtn = document.querySelector('#open')
            modalbtn.addEventListener('click', () => {
                instance.open();
            })
        });
    </script>

    <% task.rows.forEach((tsk)=> { %>
        <p>Ticket ID: <%= tsk.id %>
        </p>
        <p>Ticket Subject: <%= tsk.subject %>
        </p>
        <p>Ticket Description: <%= tsk.description %>
        </p>
        <p>Assigned Employee: <%= users.rows.find((u)=> u.id === tsk.assigned_to).username  %>
        </p>
        <p>Submitted By: <%=users.rows.find((u)=> u.id === tsk.created_by).username %>
        </p>
        <p>Ticket Status: <%- tsk.is_active===false ? 'Closed' : 'Open' %>
        </p>
        <% if (user.id===tsk.created_by) { %>
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <fieldset>
                        <legend>Submit a Ticket</legend>
                        <form action="<%=tsk.id %>?_method=PUT" method="POST">
                            <label for="field-1"><span>Issue Subject</span><input type="text" value="<%= tsk.subject %>"
                                    name="subject"></label>
                            <br>
                            <label for="field-2"><span>Issue Description</span><textarea name="description" cols="30"
                                    rows="10"><%= tsk.description %> </textarea></label>
                            <% if (tsk.is_active) { %>
                                <label>
                                    <input name='is_active' type="checkbox" />
                                    <span>Issue resolved</span>
                                </label>
                                <% } %>
                    </fieldset>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-green btn-flat" type="submit">Update Ticket</button>
                    </div>
                    </form>
                </div>
            </div>
            <% if(tsk.is_active) { %>
                <button class="waves-effect waves-green btn" id="open">Edit Ticket</button>
                <% } %>
                    <form action="<%=tsk.id %>?_method=DELETE" method="POST">
                        <button class="waves-effect waves-green btn" type="submit">
                            Delete Ticket
                        </button>
                    </form>
                    <% } %>
                        <% }) %>
                            </div>
                            <%- include('../partials/footer') %>