<%- include('../partials/header') %>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const elems = document.querySelectorAll('.modal');
            const instances = M.Modal.init(elems, options = {
                dismissible: false
            });
            const modalbtn = document.querySelectorAll('#open')
            modalbtn.forEach((modal) => modal.addEventListener('click', (evt) => {
                const idx = parseInt(evt.target.classList[3]) - 1;
                const modalElem = elems[idx];
                let instance = M.Modal.getInstance(modalElem);
                instance.open();
                document.querySelectorAll('.close-button').forEach((btn) => btn.addEventListener('click', () => instance.close()))
            }))
        });
    </script>
    <h1>Employee page</h1>
    <a class="btn" href="/work-tickets/users/employee/<%= activeUser.id %>">Your Tickets</a>
    <h4 class="center-align">Registered Users</h4>
    <% users.rows.forEach((user)=> { %>
        <div class="card center-align <%=user.id%>">
            <div class="card-content">
                <p>User ID: <%= user.id %>
                </p>
                <p>User Name: <%= user.username %>
                </p>
                <p>User Role: <%= user.user_role %>
                </p>
                <button class="waves-effect waves-green btn <%=user.id%>" id="open">User Details</button>
            </div>
        </div>
        <% }) %>
            <% users.rows.forEach((user)=> { %>
                <div id="modal<%=user.id%>" class="modal">
                    <button class="close-button"> <span class="close">X</span> </button>
                    <div class="modal-content">
                        <h4 class="center-align">User Detail Page</h4>
                        <div class="card center-align">
                            <div class="card-content user-card">
                                <div>
                                    <img class="responsive-img circle" src="<%=user.img%>" alt="">
                                </div>
                                <div class="user-info">

                                    <span>Name <%=user.username %>
                                    </span>
                                    <span>ID:<%=user.id%>
                                    </span>
                                    <span>Role: <%= user.user_role%>
                                    </span>
                                </div>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
                    <%- include('../partials/footer') %>